# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My_Coding\dartmouth_c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
